{% extends 'CrossOverAppUserBundle::base_news_reg.html.twig' %}

{% form_theme form 'CrossOverAppUserBundle:FormTheme:fields.html.twig' %}

{% block body %}
    
    
    <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Add New News Article</h3>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" action="{{ path('cross_over_news_create')}}" method="post" {{ form_enctype(form) }} data-parsley-validate class="form-horizontal form-label-left">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">News Article Title <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           {{ form_widget(form.newsTitle, { 'attr': {'placeholder': 'News Title','class': 'form-control col-md-7 col-xs-12'} })}}
                           {{ form_errors(form.newsTitle) }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">News Article Text <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12" >
                          {{ form_widget(form.newDescription, { 'attr': {'class': 'form-control col-md-7 col-xs-12'} })}}
                           {{ form_errors(form.newDescription) }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">News Article Image/Document</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                         {{ form_errors(form.file) }}
                          {{ form_widget(form.file) }}
                        </div>
                      </div>
                       {{ form_rest(form) }}
                      
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button">Cancel</button>
			  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
           
            </div>
            
            </div>
          </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <style>
        .news-textarea
        {
          margin: 0px;
          width: 494px;
          height: 218px;
        }
        
    </style>
    

{% endblock %}



